<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bucket List</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
</head>
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/showAddBabble">Add Wish</a></li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">EigenAnnoy</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Why aren't you working?!</h1>
            <div id="dripInTheBucket"> 
                <div v-for="drip in dripsData">
                    <div class="list-group">
                        <a class="list-group-item active">
                            <h4 class="list-group-item-heading" v-html="drip.Title"></h4>
                            <p class="list-group-item-text" v-html="drip.Description"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; EigenAnnoy 2017</p>
        </footer>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>

    var vm;
    function getUserBabbles(){
        var req = new XMLHttpRequest();
        req.open('GET', '/getBabbles', true);
        req.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200) {
                var dropsDict = JSON.parse(req.response);
                console.log(dropsDict);
                vm = new Vue({
                    el:"#dripInTheBucket",
                    data: function(){
                        return {
                            dripsData:dropsDict.babbles
                        };
                    }
                });
            }
        }
        req.send();      
    }

    getUserBabbles();

        // var rootDiv = document.querySelector('div.list-group');

        // for (var i=0;i<dropsInTheBucket.length; i++){
        //     var babbleItem = document.createElement("div")
        //     babbleItem.setAttribute('class', 'list-group')
        //     var babbleRoot = document.createElement("a")
        //     babbleRoot.setAttribute('class', 'list-group-item active')
        //     babbleItem.appendChild(babbleRoot)
        //     var babbleTitle = document.createElement("h4")
        //     babbleTitle.setAttribute('class', 'list-group-item-heading')
        //     babbleTitle.innerText = dropsInTheBucket[i].Title
        //     babbleRoot.appendChild(babbleTitle)
        //     var babbleText = document.createElement("p")
        //     babbleText.setAttribute('class', 'list-group-item-text')
        //     babbleText.innerText = dropsInTheBucket[i].Description
        //     babbleRoot.appendChild(babbleText)
        //     rootDiv.appendChild(babbleItem)
        // }
    </script>
</body>
</html>