<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bucket List</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
</head>
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/showAddBabble">Add Wish</a></li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">EigenAnnoy</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Why aren't you working?!</h1>
            <div id = "app" class="list-group">
                <dripsList></dripsList>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; EigenAnnoy 2017</p>
        </footer>
    </div>

    <template id="dripInTheBucket">
        <div class="">
            <a v-for="drop in drips "class="list-group-item active">
                <h4 class = list-group-item-heading>{{drop.Title}}</h4>
                <p class="list-group-item-text">{{drop.Description}}</p>
            </a>
        </div>
    </template>
    <script src="https://unpkg.com/vue">
    var vm = new  Vue({
        el:"#app",
        data:{}
    });
    
    function populateBabbles(jsonData){
        var dropsDict = JSON.parse(jsonData)
        var dropsInTheBucket = dropsDict.babbles
         Vue.componant('dripsList',{
             template:"dripInTheBucket",
             data: function(){
                 return{
                     drips:dropsInTheBucket
                 }
             }
         })

        // var rootDiv = document.querySelector('div.list-group');

        // for (var i=0;i<dropsInTheBucket.length; i++){
        //     var babbleItem = document.createElement("div")
        //     babbleItem.setAttribute('class', 'list-group')
        //     var babbleRoot = document.createElement("a")
        //     babbleRoot.setAttribute('class', 'list-group-item active')
        //     babbleItem.appendChild(babbleRoot)
        //     var babbleTitle = document.createElement("h4")
        //     babbleTitle.setAttribute('class', 'list-group-item-heading')
        //     babbleTitle.innerText = dropsInTheBucket[i].Title
        //     babbleRoot.appendChild(babbleTitle)
        //     var babbleText = document.createElement("p")
        //     babbleText.setAttribute('class', 'list-group-item-text')
        //     babbleText.innerText = dropsInTheBucket[i].Description
        //     babbleRoot.appendChild(babbleText)
        //     rootDiv.appendChild(babbleItem)
        // }


    }
    function getUserBabbles(callback){
        var req = new XMLHttpRequest();
        req.open('GET', '/getBabbles', true);
        req.onreadystatechange = callback;
        req.send();      
    }

    getUserBabbles(function(){
        if (this.readyState == 4 && this.status == 200) {
            populateBabbles(this.response);
        }
        else{

        }
    })
    
    </script>
</body>
</html>